@media (min-width: 768px) and (max-width: 1439px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .games {
        justify-content: center;
    }

    .eachgameblock {
        gap: 64px;
    }
}